      <h1>DELETE A PRODUCT</h1>
      <div id="deleteDropdown"><p>Please select the product you'd like to delete:</p>
        <form action="javascript:void(0)" id="deleteProductForm">
          <select name="id" id="selectDelete">
          </select>
          <button onclick="deleteProduct()">Delete product</button>
        </form>
      </div>