<div id="bg">
  <img src="/background.jpg" alt="">
</div>
<div class="wholething">
  <div class="blackbehindnav">
    <div class="nav">
      <nav>
        <ul>
          <li id="viewLI" class="tab inactive">
            <a id="viewLink" href="javascript:void(0)">
              <p>VIEW PRODUCTS
              </p>
            </a>
          </li>
          <li id="addLI" class="tab inactive">
            <a id="addLink" href="javascript:void(0)">
              <p>ADD NEW PRODUCT
              </p>
            </a>
          </li>
          <li id="editLI" class="tab inactive">
            <a id="editLink" href="javascript:void(0)">
              <p>EDIT PRODUCT
              </p>
            </a>
          </li>
          <li id="deleteLI" class="tab inactive">
            <a id="deleteLink" href="javascript:void(0)">
              <p>DELETE PRODUCT</p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
    
  <div id="contents"> 
    
    <div id="welcome" class="tab_content">
      <div class="tab_text">
        <h1 align="center">Welcome!</h1>
        <p>To manage inventory, please click one of the tabs.</p>
      </div>
    </div>

    <div id="view" class="tab_content">
      <div class="tab_text">
        <%= erb :view_all %>
      </div>
    </div>

    <div id="add" class="tab_content">
      <div class="tab_text">
        <%= erb :add_new %>
      </div>
     </div>
       
       <div id="create_result" display="none">
         <div class="tab_text">
           <p id="create_message"></p>
           <div id="product_info" display="none">
             <ul>
               <li><strong>General information:</strong> <span id="general_info"></span></li>
               <li><strong>Where it's sold:</strong> <span id="where_to_buy"></span></li>
               <li><strong>Technical specifications:</strong> <span id="technical_specs"></span></li>
             </ul>
           </div>
         </div>
       </div>
       
    </div>
    
    

    <div id="edit" class="tab_content">
      <div class="tab_text">
      
        <h1 align="center">EDIT A PRODUCT</h1>
  
        <p>stuff that would go on erb for edit goes here</p>
      </div>
    </div>

    <div id="delete" class="tab_content">
      <div class="tab_text">
        <%= erb :delete_prod %>
        <div id="delete_result" display="none">
        </div>
      </div>
    </div>

  </div>
</div>
 