<div class="wholething">
  <div class="blackbehindnav">
    <div class="nav">
      <nav>
        <ul>
          <li><a href="javascript:void(0)">VIEW PRODUCTS</a></li>
          <li><a href="javascript:void(0)">ADD NEW PRODUCT</a></li>
          <li><a href="javascript:void(0)">EDIT A PRODUCT</a></li>
          <li id="norightpadding"><a href="javascript:void(0)">DELETE A PRODUCT</a></li>
        </ul>
      </nav>
    </div>
  </div>
    
  <div id="contents"> 
    
    <div id="welcome" class="tab_content">
      <h1>Welcome!</h1>
      <p>To manage inventory, please click one of the tabs above.</p>
    </div>

    <div id="view" class="tab_content">
      <%= erb :view_all %>
    </div>

    <div id="create" class="tab_content">
      <%= erb :add_new %>
     </div>
       
       <div id="create_result" display="none">
         <p id="create_message"></p>
         <div id="product_info" display="none">
           <ul>
             <li><strong>General information:</strong> <span id="general_info"></span></li>
             <li><strong>Where it's sold:</strong> <span id="where_to_buy"></span></li>
             <li><strong>Technical specifications:</strong> <span id="technical_specs"></span></li>
           </ul>
         </div>
       </div>
       
    </div>
    
    

    <div id="edit" class="tab_content">
      <h1>EDIT A PRODUCT</h1>
  
      <p>stuff that would go on erb for edit goes here</p>
    </div>

    <div id="delete" class="tab_content">
      <%= erb :delete_prod %>
      <div id="delete_result" display="none">
      </div>
    </div>

  </div>
</div>
 