<div class="wholething">
  <div class="blackbehindnav">
    <div class="nav">
      <nav>
        <ul>
          <li><a href="javascript:void(0)">VIEW PRODUCTS</a></li>
          <li><a href="javascript:void(0)">ADD NEW PRODUCT</a></li>
          <li><a href="javascript:void(0)">EDIT A PRODUCT</a></li>
          <li id="norightpadding"><a href="javascript:void(0)">DELETE A PRODUCT</a></li>
        </ul>
      </nav>
    </div>
  </div>
    
  <div id="contents"> 

    <div id="view" class="tab_content">
      <h1>VIEW PRODUCTS</h>
      <p>stuff that would go on erb for edit goes here</p>
    </div>

    <div id="create" class="tab_content">
      <h1>ADD NEW PRODUCT</h1>
      <p>stuff that would go on erb for create goes here</p>
    </div>

    <div id="edit" class="tab_content">
      <h1>EDIT A PRODUCT</h1>
  
      <p>stuff that would go on erb for edit goes here</p>
    </div>

    <div id="delete" class="tab_content">
      <h1>DELETE A PRODUCT</h>
      <p>stuff that would go on erb for edit goes here</p>
    </div>

  </div>
</div>
 