<!DOCTYPE html>

<html lang="en">
<head>
<title>Database with tabs</title>
<meta name="description" content=""/>
<link rel="stylesheet" href="/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
<script src="/global.js" type="text/javascript" charset="utf-8"></script>

</head>

<header>
</header>

<%= yield %>


</body>



</html>